version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '${DB_PORT}:5432' # map machine/host port to container port

    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - '${PORT}:3000'
    env_file: .env
    depends_on:
      - db

volumes:
  pgdata:
